$orange: #e54c3c;

.card {
  position: relative;
  border: 1px solid #eeeeee;
  padding: 20px 16px 16px;
  border-radius: 6px;
  @media (min-width: 768px) {
    padding: 20px 34px 16px;
  }
}

.title {
  position: relative;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 16px;
  padding-right: 20px;
  margin-bottom: 15px;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 32px;
    background-color: $orange;
  }
}

.button {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 36px;
  height: 36px;
  border: 1px solid #eeeeee;
  border-radius: 50%;
  background-color: transparent;
  svg {
    color: $orange;
  }
}
